

body{
     width: 100%;
     height: 100%;
     margin: 0;
     color: #ffffff;
     font-family: Brush Script MT, cursive;
     font-size: 16px;
     background-image: url(images/background.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
   }
   


   h1, p{
     text-align: center;
     margin: 1em auto;
     text-shadow: 0 0 12px #00e1ff, 0 0 24px #00e1ff, 0 0 36px #00e1ff, 0 0 48px #00e1ff;
   }
   
   form{
     width: 60vw;
     min-width: 300px;
     max-width: 500px;
     padding: 0 auto;
     padding-bottom: 2em;
     margin: auto;
   }
   
   fieldset{
     border: none;
     padding: 2rem 0;
     border-bottom: 3px solid rgba(34,195,166,1);
   }

   .first label{
    text-shadow: 0 0 8px red, 0 0 16px red, 0 0 24px red, 0 0 32px red;
   }
   
   .first input{
     background-color: 	#000000;
     color: #a9b7df;
     border: 1px solid #ff00bf;
     text-shadow: 0 0 1px rgb(119, 0, 255);
     margin: 10px 0 0 0;
     width: 100%;
     min-height: 2em; 
   }

   .first ::placeholder{
    color: rgb(255, 0, 200);
    text-shadow: 0 0 1px #ffffff;
   }

   .second label[for="dropdown"]{
    text-shadow: 0 0 1px #4362ec, 0 0 2px #4362ec, 0 0 3px #4362ec, 0 0 4px #4362ec;
    color: rgb(255, 255, 255);
   }
   
   .theme{
    text-shadow: 0 0 1px green, 0 0 2px green, 0 0 3px green, 0 0 4px green;
    color: rgb(255, 255, 255);
   }

   label{
   display: block;
   margin: 0.5rem 0;
   }
   
   select{
     display: block;
     margin: 0.5rem 0;
     background: rgb(66,13,134);
     background: linear-gradient(0deg, rgba(66,13,134,1) 0%, rgba(34,195,166,1) 100%);
     color: white;
   }

   option{
    color: black;
   }
   
   input[type="submit"] {
     display: block;
     width: 60%;
     margin: 1em auto;
     height: 2em;
     font-size: 1.1rem;
     background: rgb(66,13,134);
     background: linear-gradient(0deg, rgba(66,13,134,1) 0%, rgba(195,120,34,1) 100%);
     border-color: white;
     min-width: 300px;
   }

   input[type="radio"]{
    accent-color: #ff0000;
    cursor: pointer;
   }

   .last{
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
    color: rgb(255, 0, 0);
   }
   
   input[type="checkbox"]{
    accent-color: #ff5722;
    cursor: pointer;
   }

   a{
    color: rgb(255, 255, 255);
   }

   a:hover{
    color: rgb(0, 238, 255);
   }

   textarea{
    background: rgb(19,15,89);
    background: linear-gradient(90deg, rgba(19,15,89,1) 1%, rgba(43,43,184,1) 35%, rgba(32,153,177,1) 100%);
    color: greenyellow;
    text-shadow: 0 0 1px #a9b7df;
   }

   textarea::placeholder{
    color: white;
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
   }